<div class="container">
  <h1> Everyone wants to hear what you have to say!<h1>
    <form id="myForm" name="form" action='/' method="POST">
        <textarea id="tweet_area" name="tweet_text"></textarea><br>
        <!-- <font size="1">(Maximum characters: 140)<br>
          You have <input readonly type="text" name="countdown" size="3" value="140"> characters left.</font> -->
        <input class="tweet_submit" type="submit" value="tweet"/>
    </form>
        <span class="waiting"><img src="/ajax-loader.gif"> </span>
        <span class="success"></span>

</div>
